/node_modules
/public/hot
/public/storage
public/videos/*.mp4
/public/videos/*.mp4
public/videos/upload/*.mp4
/public/videos/upload/*.mp4
public/videos/upload/1588241827.handsound.mp4
/public/videos/upload/1588241827.handsound.mp4
public/videos/film.mp4
/public/videos/film.mp4
/storage/*.key
/vendor
*.mp4
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
